body > #root > div,
html {
  color: #ffffff;
  height: 100vh;
  background: #19181a;
  font-family: DM Sans, sans-serif;
}

.game,
.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scoreBoard > button {
  color: #ffffff;
  background-color: #fc4d3c;
  border: none;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  font-family: DM Sans, sans-serif;
  font-size: 20px;
}

.board button {
  margin: 2px;
  opacity: 0.7;
  border: 1px solid #333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  min-width: 100px;
  min-height: 100px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  box-sizing: border-box;
}

.board button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.board button:focus {
  outline: 0;
}

.board button:hover {
  opacity: 0.6;
}

.player-X {
  color: #f00;
}

.player-O {
  color: #00f;
}

.container {
  display: flex;
  align-self: center;
  justify-content: space-around;
  gap: 100px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col-heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: white;
}
.col-display {
  font-family: cursive;
  border-radius: 5px;
  font-weight: 400;
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  color: #fc4d3c;
}
@keyframes flicker {
  0%   { filter: drop-shadow(0 0 10px #fc4d3c); }
  50%  { filter: drop-shadow(0 0 0px #fc4d3c); }
  100% { filter: drop-shadow(0 0 10px #fc4d3c); }
}

svg:hover {
  animation: flicker 3s ease-in-out infinite;
}

@media screen and (max-width: 550px) {
  .board {
    width: 80%;
    min-width: 175px;
  }
  .container {
    gap: 50px;
  }
  .col-display {
    font-size: 50px;
  }
  .col-heading h1 {
    font-size: 30px;
  }

  .board button {
    width: 30%;
    min-width: 50px;
  }
}
